- content_for :head do
  = render :partial => 'shared/app_bootstrap', :locals => { :data => @query_result }.merge(:multiplicity => (defined?(multiplicity) ? multiplicity : :plural))

= react_component 'app_root'
