<h1>Welcome</h1>

<%= react_component('HelloMessage', name: 'Michael') %>

<%= react_component('HelloMessage', name: 'Alex') %>

<div>
  
  <%= link_to 'Manage Line Items', line_items_path %>
  </div>
