

table.purchase-orders {
  th:nth-child(1) { width: 55%; }
  th:nth-child(2) { width: 15%; }
  th:nth-child(3) { width: 15%; }
  th:nth-child(4) { width: 15%; }
}
      
.line_items {

  table {
    th:nth-child(1) { width: 15%; }
    th:nth-child(2) { width: 25%; }
    th:nth-child(3) { width: 15%; }
    th:nth-child(4) { width: 15%; }
    th:nth-child(5) { width: 15%; }
    th:nth-child(6) { width: 15%; }
  }
       
  tr.total-line {
    border-top: 2px solid #000;
    font-weight: bold;
  }

  td.total-label {
    text-align: right;
  }

  td.unit-price-difference {
    background: #F8C471;
  }
}

